@font-face {
    font-family: 'F1 Title';
    src: url(fonts/Alphacorsa\ Personal\ Use\ Italic.ttf);
}

* {
    margin: 0;
}

/* ==================================================
                      Start Screen
================================================== */

#start-menu {
    height: 100vh;
    width: 100%;
    background: url(img/Backgrounds/StartScreen.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.logo {
    animation: fadeInDown 1s ease forwards;
}

/* ==================================================
                    HowTo Screen
================================================== */

#howto-menu {
    height: 100vh;
    width: 100%;
    background: url(img/Backgrounds/HowTo.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rules-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInDown 1s ease forwards;
}

#rules-panel img {
    width: 80%;
}

/* ==================================================
                    Create Charakter
================================================== */

#char-creator {
    display: none;
    height: 100vh;
    width: 100%;
    background: url('img/Backgrounds/CreateCharaker.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
}

h1 {
    font-family: F1 Title;
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
    margin-bottom: 100px;
    color: white;
    animation: fadeInDown 1s ease forwards;
}

#char-content {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs input,
.inputs select {
    width: 250px;
    padding: 15px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    outline: none;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

#player-name {
    animation: fadeInLeft 1s ease forwards;
}

#player-age {
    animation: fadeInLeft 1s 0.05s ease forwards;
}

#team-select {
    animation: fadeInLeft 1s 0.1s ease forwards;
}

.character-cards {
    display: flex;
    gap: 20px;
}

.char-card,
.char-card2,
.char-card3 {
    cursor: pointer;
    background-image: url(img/Looks/card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 80px;
}

.char-card {
    animation: fadeInRight 1s ease forwards;
}

.char-card2 {
    animation: fadeInRight 1s 0.05s ease forwards;
}

.char-card3 {
    animation: fadeInRight 1s 0.1s ease forwards;
}

/* ==================================================
                        Buttons
================================================== */
button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.10);
}

#menu-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
}

#howto-btn {
    width: 90%;
}

#back-btn {
    margin-top: 100px;
}

#save-btn {
    position: absolute;
    bottom: 40px;
}

/* ==================================================
                        Images
================================================== */

#play-btn img {
    width: 350px;
    animation: fadeInUp 1.2s ease forwards;
}

#howto-btn img {
    width: 300px;
    animation: fadeInUp 1.2s 0.05s ease forwards;
}

#back-btn img {
    width: 350px;
    animation: fadeInUp 1s ease forwards;
}

.char-card img {
    width: 180px;
    display: block;
}

.char-card2 img,
.char-card3 img {
    width: 170px;
    display: block;
}

#save-btn img {
    width: 280px;
    animation: fadeInUp 1.2s ease forwards;
}

.logo img {
    width: 800px;
}

/* ==================================================
                     Animationen
================================================== */

@keyframes fadeInDown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-200px);
        /* Startet links außerhalb */
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        /* Endet an der Originalposition */
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(200px);
        /* Startet rechts außerhalb */
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}